<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Sélection des tâches</ng-template>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Sélection des Liaisons</ng-template>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" optional>
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Sélection des sémaphores</ng-template>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Récapitulatif & validation</ng-template>
    <div>
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button matStepperNext>Valider</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
